In [1]:
import pandas as pd

df = pd.read_csv('tweet_out//trudeau_raw.csv')  # read csv containinf output of twitter scraper
df.head()

,Tweets,Length,Date,Source,Favourites,RTs
0,It’s been a difficult few weeks for our countr...,272,2020-05-01 01:18:28,Twitter for iPhone,6117,660
1,"Les dernières semaines ont été difficiles, mai...",277,2020-05-01 01:18:21,Twitter for iPhone,341,49
2,"This morning, I spoke with @NATO Secretary Gen...",207,2020-04-30 23:45:29,Twitter for iPhone,1041,137
3,"Ce matin, j’ai parlé avec le secrétaire généra...",224,2020-04-30 23:45:05,Twitter for iPhone,273,33
4,RT @CanadianForces: It is with heavy hearts th...,140,2020-04-30 23:27:44,Twitter for iPhone,0,1543

In [2]:
from langdetect import detect
import numpy as np
# use langdetect package to create column specifying language
df['Language'] = np.array([detect(t) for t in df['Tweets']])
df['Language'].value_counts()

en    1134
fr    1092
nl       1
ca       1
Name: Language, dtype: int64

In [4]:
# only want english tweets (assume negligible error in language detection)
df2 = df.loc[(df['Language'] == 'en')]  
df2['Language'].value_counts()

en    1134
Name: Language, dtype: int64