In [148]:
import pandas as pd

# df = pd.read_csv('tweet_out//trudeau_raw.csv')  # read csv containinf output of twitter scraper
df = pd.read_csv('data//trump_raw.csv')  # read csv containinf output of twitter scraper

df.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for iPhone,.@CNN doesn’t want to speak about their persec...,04-30-2020 03:52:46,43003,147321,False,1255706636972363776
1,Twitter for iPhone,https://t.co/xCzgk5yoUK,04-30-2020 03:11:27,16121,53994,False,1255696235970940934
2,Twitter for iPhone,RT @GenFlynn: https://t.co/Q833u4Is8h,04-30-2020 00:54:03,64889,0,True,1255661661886844928
3,Twitter for iPhone,RT @realDonaldTrump: https://t.co/FH26OaIh2b,04-30-2020 00:53:12,20309,0,True,1255661445091667969
4,Twitter for iPhone,RT @realDonaldTrump: https://t.co/efAolmZvuW,04-30-2020 00:53:10,19852,0,True,1255661439488004098

In [3]:
df.size

13368

In [2]:
from langdetect import detect
import numpy as np
# use langdetect package to create column specifying language
df['Language'] = np.array([detect(t) for t in df['Tweets']])
df['Language'].value_counts()

en    1134
fr    1092
nl       1
ca       1
Name: Language, dtype: int64

In [51]:
# only want english tweets (assume negligible error in language detection)
df2 = df.loc[(df['Language'] == 'en')].copy()
df2['Language'].value_counts()

,Tweets,Length,Date,Source,Favourites,RTs,Language
0,It’s been a difficult few weeks for our countr...,272,2020-05-01 01:18:28,Twitter for iPhone,6117,660,en
2,"This morning, I spoke with @NATO Secretary Gen...",207,2020-04-30 23:45:29,Twitter for iPhone,1041,137,en
4,RT @CanadianForces: It is with heavy hearts th...,140,2020-04-30 23:27:44,Twitter for iPhone,0,1543,en
6,RT @DMDND_SMMDN: Our thoughts are with the fam...,140,2020-04-30 23:14:53,Twitter for iPhone,0,100,en
8,Our hearts go out to the loved ones of Sub-Lie...,280,2020-04-30 21:36:33,Twitter for iPhone,830,106,en

In [118]:
df2['isRT'] = df2['Tweets'].str.contains('RT')  # label RTs
print(df2.isRT.value_counts())
df3 = df2.loc[df2['isRT']==False].copy()  # only want non-retweets

False    638
True     496
Name: isRT, dtype: int64

In [146]:
import datetime

# add month label, only want Jan, Feb, Mar, Apr
df3['Month'] = pd.Series([datetime.datetime.strptime(d,'%Y-%m-%d %H:%M:%S').strftime('%B') for d in df3['Date']])
df4 = df3.loc[[month in ['January','February','March','April'] for month in df3['Month']]].reset_index(drop=True)
df4.head()

,Tweets,Length,Date,Source,Favourites,RTs,Language,isRT,Month
0,"This morning, I spoke with @NATO Secretary Gen...",207,2020-04-30 23:45:29,Twitter for iPhone,1041,137,en,False,April
1,Our hearts go out to the loved ones of Sub-Lie...,280,2020-04-30 21:36:33,Twitter for iPhone,830,106,en,False,April
2,Four members of the Royal Canadian Air Force a...,265,2020-04-30 21:36:32,Twitter for iPhone,2185,329,en,False,April
3,HAPPENING NOW: I’m speaking about yesterday’s ...,172,2020-04-30 15:28:08,Twitter for iPhone,520,118,en,False,April
4,"Earlier today, I spoke with Premier @jkenney a...",215,2020-04-30 03:30:44,Twitter for iPhone,566,125,en,False,April

In [144]:
df4.to_csv('data//trudeau_jfma.csv')